services:
  nats:
    image: nats:latest
    container_name: nats_main
    restart: always
    ports:
      - "4222:4222"
      - "8222:8222"
    volumes:
      - ./nats.conf:/etc/nats/nats.conf
    networks:
      - iot-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - prometheus_data:/prometheus
      - ./config/prometheus/config.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--storage.tsdb.retention.time=200h"
      - "--web.enable-lifecycle"
    restart: unless-stopped
    networks:
      - iot-net

  otel-collector:
    image: otel/opentelemetry-collector
    container_name: otel-collector
    volumes:
      - ./config/otel/config.yml:/etc/otelcol/config.yaml
    networks:
      - iot-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - gf_security_admin_password=admin
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    networks:
      - iot-net

  loki:
    container_name: loki
    image: grafana/loki:latest
    restart: on-failure
    networks:
      - iot-net

  tempo:
    container_name: tempo
    image: grafana/tempo:latest
    restart: on-failure
    command: ["-config.file=/etc/tempo.yaml"]
    volumes:
      - ./config/tempo/tempo.yaml:/etc/tempo.yaml
    networks:
      - iot-net

  iot-runtime:
    container_name: iot-runtime
    env_file: ".envrc"
    build:
      context: .
      dockerfile: ./Dockerfile
    privileged: true
    networks:
      - iot-net
    ports:
      - 8080:8080
    volumes:
      - .:/app
      - /run/user/1000/podman/podman.sock:/run/user/1000/podman/podman.sock:ro

volumes:
  grafana-storage:
  tempo-storage:
  prometheus_data:

networks:
  iot-net:
